<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="ko.gunwook.translateapp">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name="ko.gunwook.translateapp.BaseApplication"
            android:icon="@drawable/book"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="ko.gunwook.translateapp.MainActivity" android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="ko.gunwook.translateapp.services.TransManagerService"/>
        <service android:name="ko.gunwook.translateapp.services.ClipboardService"/>
    </application>

</manifest>